---
import { frontmatter, Content } from "@/content/about/index.md";
import { SITE } from "@/config";
import type { SocialItem } from "@/types";
import Links from "@/components/Links.astro";
import FlipImage from "@/components/FlipImage.astro";
import Layout from "@/layouts/Layout.astro";

interface Frontmatter {
  name: string;
  subname?: string;
  avatarFront?: string;
  avatarBack?: string;
  tltr?: string;
  socials: SocialItem[];
}

const { name, subname, avatarFront, avatarBack, tltr, socials } =
  frontmatter as Frontmatter;
---

<Layout class="about" title={SITE.title}>
  {
    avatarFront && (
      <div class="size-30 ml-auto mb-4 mr-1 rotate-3" sm="size-40 -mb-20 mr-2">
        <FlipImage front={avatarFront} back={avatarBack} alt="avatar" />
      </div>
    )
  }

  <p my-0 text="fg-light xl lg:2xl" font-semibold>Hello, this is</p>

  <div class="my-1.5 flex items-baseline flex-wrap gap-x-1">
    <h1 my-0>{name}</h1>
    {
      subname && (
        <span text="base fg-light" font-extrabold ml-1>
          ({subname})
        </span>
      )
    }
    <span text-4xl font-extrabold>.</span>
  </div>

  {
    tltr && (
      <h5 mb-4 text-fg-light>
        {tltr}
      </h5>
    )
  }

  <Links socials={socials} />

  <Content />
</Layout>
