---
import { SITE } from "@config";
import type { SocialItem } from "@types";
import Links from "@components/Links.astro";
import FlipImage from "@components/FlipImage.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    name: string;
    subname?: string;
    avatarFront?: string;
    avatarBack?: string;
    socials: SocialItem[];
  };
}

const { name, subname, avatarFront, avatarBack, socials } = Astro.props.frontmatter;
---

<Layout class="about" title={`About - ${SITE.title}`}>
  {
    avatarFront && (
      <div class="ml-auto w-30 h-30 mb-4 mr-1 sm:(w-40 h-40 -mb-20 mr-2) rotate-3">
        <FlipImage front={avatarFront} back={avatarBack} alt="avatar" />
      </div>
    )
  }

  <h3 my-0 text-c-light>Hello, this is</h3>

  <h1 my-1.5>
    {name}
    {subname && <font text="base c-light"> ({subname})</font>}.
  </h1>

  <h5 mb-4 text-c-light>I'm a PhD student at Pennsylvania State University.</h5>

  <Links socials={socials} />

  <slot />
</Layout>

<script>
  import mediumZoom from "medium-zoom";

  const zoom = mediumZoom();
  zoom.attach(":not(a) > img:not(.no-zoom)");
</script>
