---
import { SITE } from "@config";
import type { SocialItem } from "@types";
import FlipImage from "@components/FlipImage.astro";
import Links from "@components/Links.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    name: string;
    subname?: string;
    avatar?: string;
    socials: SocialItem[];
  };
}

const { name, subname, avatar, socials } = Astro.props.frontmatter;
---

<Layout class="about" title={`About - ${SITE.title}`}>
  <div class="flex items-end justify-between">
    <div>
      <h1>
        {name}
        {subname && <span text="base c-light">{subname}</span>}
      </h1>
      <Links socials={socials} />
    </div>
    {
      avatar && (
        <div
          class="p-1 mb-1 border border-c rounded-md lt-md:hidden"
          shadow="[inset_0_0_10px_#000000] slate-200 dark:slate-800"
        >
          <FlipImage class="w-24 h-24" src={avatar} alt="avatar" />
        </div>
      )
    }
  </div>

  <slot />
</Layout>

<script>
  import mediumZoom from "medium-zoom";

  const zoom = mediumZoom();
  zoom.attach(":not(a) > img:not(.no-zoom)");
</script>
