---
import { SITE } from "@config";
import type { SocialItem } from "@types";
import Links from "@components/Links.astro";
import FlipImage from "@components/FlipImage.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    name: string;
    subname?: string;
    avatarFront?: string;
    avatarBack?: string;
    tltr?: string;
    socials: SocialItem[];
  };
}

const { name, subname, avatarFront, avatarBack, tltr, socials } = Astro.props.frontmatter;
---

<Layout class="about" title={`首页 - ${SITE.title}`}>
  {
    avatarFront && (
      <div class="size-30 ml-auto mb-4 mr-1 rotate-3" sm="size-40 -mb-20 mr-2">
        <FlipImage front={avatarFront} back={avatarBack} alt="avatar" />
      </div>
    )
  }

  <h3 my-0 text-c-light>Hello, this is</h3>

  <h1 my-1.5>
    {name}
    {subname && <font text="base c-light"> ({subname})</font>}.
  </h1>

  {
    tltr && (
      <h5 mb-4 text-c-light>
        {tltr}
      </h5>
    )
  }

  <Links socials={socials} />

  <slot />
</Layout>

<script>
  import mediumZoom from "medium-zoom";

  const zoom = mediumZoom();
  zoom.attach(":not(a) > img:not(.no-zoom)");
</script>
