---
import { slugify } from "@renovamen/utils";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import ToggleLang from "@components/ToggleLang.astro";
import {
  getPostDate,
  getPosts,
  getPostsByTag,
  getSortedPostsByYear,
  getTags,
  formatDate
} from "@utils";

export interface Props {
  lang: string;
  tag?: string;
}

const { lang, tag } = Astro.props;

const title = lang === "en" ? "Blog" : "博客";
const allURL = `/posts/${lang === "en" ? "" : lang + "/"}`;
const tagURL = `${allURL}tags/`;

const posts = await getPosts(lang);
const { tags, numPostsPerTag } = getTags(posts);
const sortedPostsByYear = getSortedPostsByYear(tag ? getPostsByTag(posts, tag) : posts);
---

<Layout title={`${title} - ${SITE.title}`} activePage={"posts"}>
  <h1>{title} <ToggleLang /></h1>

  <!-- tag list -->
  <span class="mr-3 space-x-1 whitespace-nowrap">
    <span class="i-uil:tag-alt" text="sm c-light"></span>
    <a href={allURL} class="!text-c-light">all</a>
    <sup>{numPostsPerTag["all"]}</sup>
  </span>

  {
    tags.map((tag) => (
      <span class="mr-3 space-x-1 whitespace-nowrap">
        <span class="i-uil:tag-alt" text="sm c-light" />
        <a href={tagURL + slugify(tag)} class="!text-c-light">
          {tag}
        </a>
        <sup>{numPostsPerTag[tag]}</sup>
      </span>
    ))
  }

  <!-- blog list -->
  {
    Object.keys(sortedPostsByYear)
      .sort((a, b) => b.localeCompare(a))
      .map((year) => (
        <div>
          <h3>{year}</h3>
          {sortedPostsByYear[year].map((item) => (
            <div hstack m="y-1 x-0.5">
              <div class="w-14 h-6 leading-6 mr-2" text="c-lighter sm">
                {formatDate(getPostDate(item.id), 1)}
              </div>
              <a class="flex-1 !text-c" href={`/posts/${item.slug}`}>
                {item.data.title}
              </a>
            </div>
          ))}
        </div>
      ))
  }
</Layout>
